// @import "~bulma/sass/utilities/initial-variables";
// @import "~bulma";
// @import "fonts";
@import "config";

body {
  width: 100%;
  text-align: left;
  letter-spacing: 0px;
  opacity: 1;
  
  font-family: $raleway-regular;
  font-size: 28px;
  // letter-spacing: 20px;
  line-height: 35px;

  color: $black-text;
  background: $white;

  .icon {
    &.social-icon {
      height: 26px;
      width: 26px;      
      vertical-align: text-bottom;
      fill: $white;

      &:hover {
        // fill: $red;
        fill: $black-text;
      }
    }
    &.social-media-icon {
      &.svg {
        height: 26px;
        width: 26px;      
      }
      vertical-align: middle;
    }
  } 

  

  .tfp-yellow {
    color: $yellow;
  }
  .tfp-red {
    color: $red;
  }

  a {
    text-decoration: none;
    color: $white;
  }

  .section-padding {
    padding: 0 65px;
  }
}