// Config vars

$yellow: #FFAE00;
$red: #EE2F2C;
$black-bg: #0F1014;
$white: #FFFFFF;
$black-title: #4D4D4D;
$black-text: #1A1A1A;
$gray: #D6D2D2;

@import "fonts";

$raleway-regular: 'Raleway Regular', sans-serif;
$raleway-bold: 'Raleway Bold', sans-serif;
$raleway-black: 'Raleway Black', sans-serif;
