@import "../../assets/css/config";

.footer {
    width: 100%;
    max-width: 100%;
    max-width: 100vw;

    padding: 20px;

    background: $black;

    .footer-base-strip {
        background: $red;
    }
}